bin/
obj/

*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

.vs/
.idea/

*.log
*.dmp

*.nupkg
*.snupkg
packages/

*.Publish.xml

[Tt]emp/
[Tt]mp/
*.tmp

*.bak
*.backup

*.dll
*.exe
*.pdb

_ReSharper*/
_ReSharper.*/

.DS_Store
Thumbs.db

appsettings.Development.json
secrets.json
